* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(img/imagem_bg.jpg);
  background-size: cover;
  width: 100%;
  padding: 1rem;
}

h1 {
  text-align: center;
  margin: 1rem;
  font-size: 3.5rem;
  color: #fff;
  background-color: #d8a310d2;
  box-shadow: 3px 3px 5px #705406;
  text-shadow: 3px 3px 5px #705406;
  padding: 10px;
  border-radius: 10px;
}

.add-aniversariante {
  width: 60%;
  background-color: #d8a310d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #705406;
}

.add-aniversariante h2 {
  color: #fff;
  font-size: 2rem;
  align-self: center;
  text-shadow: 3px 3px 5px #705406;
}

.add-aniversariante .btn {
  align-self: center;
}

p {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 3px 3px 5px #705406;
}

#nome {
  width: 70%;
}

#search-btn {
  background-color: red;
}

.input {
  width: 5rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  padding: 10px 15px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 3px 3px 5px #705406;
  background: transparent;
  color: #fff;
}

.input-btn {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  padding: 10px 15px;
  outline: none;
  border-radius: 10px;
  border: none;
  background: #d8a410;
  color: #fff;
  text-shadow: 3px 3px 5px #705406;
  box-shadow: 3px 3px 5px #705406;
}

#input-btn {
  border: 1px solid #fff;
  font-weight: bold;
}

.input-btn:hover {
  cursor: pointer;
  color: #d8a410;
  background-color: #fff;
  transition: all 0.5s;
  text-shadow: none;
}

.result {
  background-color: #d8a410;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #705406;
}

@media (max-width: 640px) {
  .add-aniversariante {
    width: 90%;
    height: 100%;
  }

  p {
    font-size: 1rem;
  }

  h1 {
    margin: 0.5rem;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 3px 3px 5px #705406;
    padding: 5px;
    border-radius: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }
}
